html{
    box-sizing: border-box;
    font-size: 10px;

}
body{
    background-color: rgb(57, 91, 67);
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}


.button-a-normal{
    background-color: #000000;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 0.5rem;
    text-align: center;
    padding: 1.2rem;
    text-decoration: none;
    cursor: pointer;

}