
:root {

  --text-color: hsl(0, 0%, 100%);
}
.hero {
  background-image: url('images/Olle_world_of_warcraft_Illidan_Stormrage_green_Demon_Hunter_lef_2e28116f-7f0e-4a61-8e81-1324b7e30273.png');
  background-size: cover;
  background-position: center center;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  color: #fff;
  font-size: 2.4rem;

}

.hero-text {
  max-width: 50rem;
  margin-left: 5rem;
}

.hero h1 {
  font-size: 4.8rem;
  margin-bottom: 2rem;
}

.hero p {
  margin-bottom: 3rem;
}

/*Nav with Text in middle and links below*/
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center; /* add this to vertically center the links */
  background-color: #000000;
  color: #ffffff;
  font-size: 1.6rem;

}
.nav-links ul {
  display: flex;
  flex-direction: row; /* set the direction to row */
  justify-content: center;
  align-items: center;
}
.nav-links li {
  margin: 0 1rem; /* add some horizontal spacing between the links */
  list-style: none;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s ease;
}


/*Character Lookup Text*/
.split-text-wrapper {
  display: grid;
  place-content: center;
  background-color: #000000;
  min-height: 16rem;
  font-family: "Oswald", sans-serif;
  font-size: clamp(1.5rem, 1rem + 18vw, 6rem);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-color);
}

.split-text-wrapper > div {
  grid-area: 1/1/-1/-1;
}
.top {
  clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
  
}
.bottom {
  clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
  color: transparent;
  background: -webkit-linear-gradient(177deg, black 53%, var(--text-color) 65%);
  background: linear-gradient(177deg, black 53%, var(--text-color) 65%);
  background-clip: text;
  -webkit-background-clip: text;
  transform: translateX(-0.02em);
}






/*Form*/

.form form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #5a6953;
  border: 1px solid #000000;
  border-radius: 1rem;
  padding: 2rem 10rem;
  width: 40rem;
  margin: 5rem auto;
  font-size: 1.6rem;
}
.form form input{
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #000000;
}

.form form button:hover,
.form form button:focus{
  background-color: #3e7248;
  color: #ffffff;
}
